body {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 25px;
  background-color: rgb(140, 171, 168, 0.5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
}

.gridDiv {
  /* flex values are dynamically defined in the Javascript file */
  width: 5px;
  aspect-ratio: 1 / 1;
}
